@import "util";

.BlockMessageList {
  cursor: pointer;
  user-select: none;
}

.BlockMessageList_item {
  border-top: solid 1px #f5f5f5;
  line-height: 1.6;
  padding: 4px;
}

.BlockMessageList_item:first-child {
  border-top: none;
}

.BlockMessageList_item_inner {
  border-radius: 8px;
  padding: 12px;
}

.BlockMessageList_item-unread .BlockMessageList_item_inner {
  background: #ecc;
}

.BlockMessageList_item-selected {
  padding: 4px;
}

.BlockMessageList_item-selected .BlockMessageList_item_inner {
  background: #b00;
  color: white;
}

.BlockMessageList_item_top {
  .clearfix;
}

.BlockMessageList_item_sender {
  color: #a00;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.BlockMessageList_item-selected .BlockMessageList_item_sender {
  color: white;
}

.BlockMessageList_item_date,
.BlockMessageList_item_snippet {
  opacity: .5;
}

.BlockMessageList_item_date {
  float: right;
}

.BlockMessageList_item_text {
  .line-clamp(2);
}

.BlockMessageList_item_date,
.BlockMessageList_item_text {
  font-size: 14px;
}

.BlockMessageList_item_label {
  background: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #999;
  color: #666;
  display: inline-block;
  margin-right: 4px;
  padding: 0 4px;
}
