.MessageView {
  background: white;
  border-radius: 4px;
  margin: 12px;
}

.MessageView_header {
  padding: 12px;
  cursor: pointer;
}

.MessageView_header_sender {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MessageView_header_date {
  float: right;
}

.MessageView_sandbox {
  margin: 0 12px 12px 12px;
  width: calc(~"100% - 12px")
}
