.MessageView {
  padding: 12px 12px 0 12px
}

.MessageView_inner {
  background: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #ddd;
}

.MessageView-expanded .MessageView_inner {
  background: white;
}

.MessageView_header {
  padding: 12px;
  cursor: pointer;
}

.MessageView_header_sender {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MessageView_header_date {
  color: #666;
  font-size: 14px;
  float: right;
}

.MessageView_subject {
  font-size: 14px;
  margin: 0 12px;
}

.MessageView_sandbox {
  border-top: 1px solid #eee;
  margin: 12px;
  width: calc(~"100% - 24px")
}
